<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Movies
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logOut()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar [debounce]="1000" [(ngModel)]="query" placeholder="Search movies by title" (ionInput)="getMoviesByFilter()"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row class="ion-padding ion-text-center">
    <ion-spinner class="spinner" *ngIf="showSpinner" name="lines"></ion-spinner>
    <ion-col sizeMd="3" *ngFor="let movie of movies?.slice(0, sl)">
      <ion-card class="ion-padding-bottom" (click)="openDetailMovie(movie)">
        <div *ngIf="query==''">
          <img alt="cover-movie" width="100%" [src]="(movie._embedded.show.image === null) ? 'assets/images/card-media.png' : movie._embedded.show.image.medium" />
          <ion-card-header>
            <ion-card-title><b>{{movie._embedded.show.name}} - {{movie.name}}</b></ion-card-title>
            <ion-card-subtitle>Genres: <b *ngFor="let genre of movie._embedded.show.genres">{{genre}}, </b></ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p class="ion-text-nowrap" style="text-overflow: ellipsis; overflow: hidden;" [innerHTML]="(movie._embedded.show.summary === null) ? 'No description' : movie._embedded.show.summary"></p>
          </ion-card-content>
        </div>
        <div *ngIf="query!=''">
          <img alt="cover-movie" width="100%" [src]="(movie.show.image === null) ? 'assets/images/card-media.png' : movie.show.image.medium" />
          <ion-card-header>
            <ion-card-title *ngIf="movie.show.name !== null"><b>{{movie.show.name}}</b></ion-card-title>
            <ion-card-title *ngIf="movie.show.name === null"><i>No title</i></ion-card-title>
            <ion-card-subtitle *ngIf="movie.show.genres !== null && movie.show.genres.length > 0">Genres: <b *ngFor="let genre of movie.show.genres">{{genre}}, </b></ion-card-subtitle>
            <ion-card-subtitle *ngIf="movie.show.genres === null || movie.show.genres.length == 0">Genres: <i>None</i></ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p class="ion-text-nowrap" style="text-overflow: ellipsis; overflow: hidden;" [innerHTML]="(movie.show.summary === null) ? 'No description' : movie.show.summary"></p>
          </ion-card-content>
        </div>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-modal [isOpen]="isModalOpen" [backdropDismiss]="false">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title *ngIf="query==''">{{movieDetail._embedded.show.name}}</ion-title>
          <ion-title *ngIf="query!=''">{{movieDetail.show.name}}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="isModalOpen=false">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <div class="ion-margin-vertical">
          <div *ngIf="query==''">
            <img alt="cover-movie" width="100%" [src]="(movieDetail._embedded.show.image === null) ? 'assets/images/card-media.png' : movieDetail._embedded.show.image.medium" />
            <h2><b>{{movieDetail._embedded.show.name}} - {{movieDetail.name}}</b></h2>
            <p>Genres: <b *ngFor="let genre of movieDetail._embedded.show.genres">{{genre}}, </b></p>
            <p>Language: <b>{{movieDetail._embedded.show.language}}</b></p>
            <p>Type: <b>{{movieDetail._embedded.show.type}}</b></p>
            <p>Premier: <b>{{movieDetail._embedded.show.premiered}}</b></p>
            <hr>
            <p [innerHTML]="(movieDetail._embedded.show.summary === null) ? 'No description' : movieDetail._embedded.show.summary"></p>
          </div>
          <div *ngIf="query!=''">
            <img alt="cover-movie" width="100%" [src]="(movieDetail.show.image === null) ? 'assets/images/card-media.png' : movieDetail.show.image.medium" />
            <h2 *ngIf="movieDetail.show.name !== null"><b>{{movieDetail.show.name}}</b></h2>
            <h2 *ngIf="movieDetail.show.name === null"><i>No title</i></h2>
            <p *ngIf="movieDetail.show.genres !== null && movieDetail.show.genres.length > 0">Genres: <b *ngFor="let genre of movieDetail.show.genres">{{genre}}, </b></p>
            <p *ngIf="movieDetail.show.genres === null || movieDetail.show.genres.length == 0">Genres: <i>None</i></p>
            <p>Language: <b>{{movieDetail.show.language}}</b></p>
            <p>Type: <b>{{movieDetail.show.type}}</b></p>
            <p>Premier: <b>{{movieDetail.show.premiered}}</b></p>
            <hr>
            <p [innerHTML]="(movieDetail.show.summary === null) ? 'No description' : movieDetail.show.summary"></p>
          </div>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreMovies()">
    <ion-infinite-scroll-content loadingSpinner="crescent"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>